*.00 filter=lfs diff=lfs merge=lfs -text
*.01 filter=lfs diff=lfs merge=lfs -text
*.02 filter=lfs diff=lfs merge=lfs -text
*.03 filter=lfs diff=lfs merge=lfs -text
*.gz filter=lfs diff=lfs merge=lfs -text
